<div id="result"></div>
<!--script id="entry-template" type="text/x-handlebars-template"-->

<h2>This is the accounts page</h2>

<div id="account-info">
	<h4>Name: </h4><p>{{name}}</p>
	<h4>Username: </h4><p>{{username}}</p>
	<h4>Phone number: </h4><p>{{phone}}</p>
	<h4>Email: </h4><p>{{email}}</p>
	<h4>Account type: </h4><p>{{account_type}}</p>
</div>

<div id="table-container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Color</th>
				<th>License Plate Number</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			{{#each cars}}
				<tr>
					<td>{{make}}</td>
					<td>{{model}}</td>
					<td>{{year}}</td>
					<td>{{color}}</td>
					<td>{{plate_num}}</td>
					<td>{{state}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<button class="btn btn-primary">Edit Account</button>
<button class="btn btn-danger">Delete Account</button>

<!-- </script> -->
<script src="/public/js/citizen-account.js"></script>