<div id="table-container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Color</th>
				<th>License Plate Number</th>
				<th>State</th>
				<th><button type="button" class="btn btn-success" id="add-car">Add a car</button></th>
			</tr>
		</thead>
		<tbody id="car-table-body">
			{{#each items}}
				<tr data-carid={{carID}} data-owner={{{username}}}>
					<td><input type="text" class="table-input make-field" disabled value={{{make}}}></input></td>
					<td><input type="text" class="table-input model-field" disabled value={{{model}}}></input></td>
					<td><input type="text" class="table-input year-field" disabled value={{year}}></input></td>
					<td><input type="text" class="table-input color-field" disabled value={{{color}}}></input></td>
					<td><input type="text" class="table-input plate-field" disabled value={{plateNumber}}></input></td>
					<td><input type="text" class="table-input state-field" disabled value={{{plateState}}}></input></td>
					<td><button type="button" class="btn btn-primary edit-car">Edit</button>
						<button type="button" class="btn btn-success save-car">Save</button>
						<button type="button" class="btn btn-danger delete-car">Delete</button></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<div class="modal fade" id="addVehicleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a Vehicle</h4>
      </div>
      <div class="modal-body">
			<div>Make: <input type="text" id="newMake"></input></div>
			<div>Model: <input type="text" id="newModel"></input></div>
			<div>Year: <input type="text" id="newYear"></input></div>
			<div>Color: <input type="text" id="newColor"></input></div>
			<div>License Plate Number: <input type="text" id="newPlate"></input></div>
			<div>State: <input type="text" id="newState"></input></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveNewVehicle">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/public/js/citizen-vehicles.js"></script>