<div id="table-container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Color</th>
				<th>License Plate Number</th>
				<th>State</th>
				<th><button type="button" class="btn btn-success" id="add-car">Add a car</button></th>
			</tr>
		</thead>
		<tbody id="car-table-body">
			{{#each cars}}
				<tr data-carid={{carID}}>
					<td><input type="text" class="table-input make-field" disabled value={{make}}></input></td>
					<td><input type="text" class="table-input model-field" disabled value={{model}}></input></td>
					<td><input type="text" class="table-input year-field" disabled value={{year}}></input></td>
					<td><input type="text" class="table-input color-field" disabled value={{color}}></input></td>
					<td><input type="text" class="table-input plate-field" disabled value={{plateNumber}}></input></td>
					<td><input type="text" class="table-input state-field" disabled value={{plateState}}></input></td>
					<td><button type="button" class="btn btn-primary edit-car">Edit</button>
						<button type="button" class="btn btn-success save-car">Save</button>
						<button type="button" class="btn btn-danger delete-car">Delete</button></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<script src="/public/js/citizen-vehicles.js"></script>