<div id="result"></div>
<!--script id="entry-template" type="text/x-handlebars-template"-->

<h2>This is the accounts page</h2>

<div id="account-info">
	<h4>Name: </h4><input type="text" class="account-field" id="name-field" disabled value="{{{name}}}"></input>
	<h4>Username: </h4><input type="text" class="account-field" id="username-field" disabled value={{username}}></input>
	<h4>Phone number: </h4><input type="text" class="account-field" id="phone-field" disabled value={{phoneNumber}}></input>
	<h4>Email: </h4><input type="text" class="account-field" id="email-field" disabled value={{email}}></input>
	<h4>Account type: </h4><input type="text" class="account-field-dis" id="account-type-field" disabled value={{{accountType}}}></input>
</div>

<button class="btn btn-primary" id="editBtn">Edit Account</button>
<button class="btn btn-success" id="saveBtn" disabled>Save Changes</button>

<script src="/public/js/police-account.js"></script>